# Struktur data

Struktur data pada python yang umumnya digunakan ada 3 yaitu :

    - List
    - Tuple
    - Dictionaries

# 1. List
List pada python dapat dikenali dengan tanda kurung siku [ ... ]. data yang berada pada list dapat diakses menggunakan indeks masing-masing data, dimana indeks dimulai pada angka 0 ... n dimana n adalah panjang data list.

contoh : 
data = ['budi', 'badu', 'badi']

indeksnya :
data[0] # untuk data 'budi'
data[1] # untuk data 'badu'
data[2] # untuk data 'badi'

bentuk umum :

- variabel = [nilai1, nilai2, ..., nilai-n]
- variabel = [index1, index2, ..., index-n]

contoh penerapan list :
- jurusan = [] # empty list
- jurusan = ["Informatika", "Mesin", "Industri"] # list dengan nilai
- himpunan = ['himatif', 'himesin', 'himart']
- jurusan = ["Informatika", "Mesin", 22, himpunan] # list didalam list
- nilai = [97, 80, 74, 66, 20]

In [5]:
jurusan = [] # empty list
# jurusan = ["Informatika", "Mesin", "Industri"]
# jurusan = ["Informatika", "Mesin", "Industri", pimpinan]
# himpunan = ['himatif', 'himesin', 'himart']
# jurusan = ["Informatika", "Mesin", 33, himpunan]
print (dir(jurusan))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# latihan list 1:
1. buat empty list dan masukkan kedalam variabel dengan nama peserta
2. pastikan type variabel yang dibuat adalah list
3. tampilkan isi list

In [9]:
# - start -

# tuliskan kode latihan 1 disini
nama_peserta = ["jojo","jeje"]

print(nama_peserta)
# - end -

['jojo', 'jeje']

# latihan list 2:
1. buat variabel dengan nama sistemoperasi
2. masukkan list pada variabel sistemoperasi dengan nilai : "windows", "linux", "unix", "solaris"
3. tampilkan list yang baru saja dibuat.

In [12]:
# - start -

# tuliskan kode latihan 2 disini
sistemoperasi = ["windows","linux","unix","solaris"]

print(sistemoperasi)
# - end -

['windows', 'linux', 'unix', 'solaris']

# Manipulasi List - Menampilkan Nilai

In [ ]:
# [0, 1, 2, 3, n+1, ..., n]
jurusan = ["informatika", "industri", "mesin", "arsitek", "PWK"]

#jurusan[0] # akan menampilkan informatika
#jurusan[1] # akan menampilkan industri

# latihan list 3:
1. buat variabel dengan nama editor
2. masukkan list pada variabel editor dengan nilai : visual studi code, atom, sublime, pycharm
3. tampilkan list dengan nomor index 2
4. tampilkan list dengan nomor index 5

In [21]:
# - start -

# tuliskan kode latihan 3 disini
editor = ["visual studio code","atom","sublime","pycharm"]

print(editor[2])
# - end -

sublime

# Manipulasi List - Menambahkan dan Menghapus Nilai

In [141]:
# menambahkan nilai pada list menggunakan perintah 
# 1. append(nilai) - menambahkan pada akhir list
opsistem = ['linux', 'solaris', 'unix']

#opsistem.append('windows')
opsistem.append('windows')

#opsistem

# 2. insert(index, nilai) - menambahkan 
# pada index tertentu pada list opsistem.insert(1, 'osiris')
opsistem.insert(1, 'osiris')
#opsistem

# 3. del variable_list[index_nilai] - menghapus 
# nilai pada list berdasarkan indexnya. del opsistem[1]
del opsistem[1]
#opsistem
opsistem

['linux', 'solaris', 'unix', 'windows']

# latihan list 4:
1. buat variabel list dan nilainya minimal terdapat 5 nilai pada list tersebut.
2. tambahkan nilai baru pada akhir list ("belajar python")
3. tambahkan nilai baru pada awal list ("menyenangkan")
4. tambahkan nilai baru pada index ke-3 list ("suka sekali")
5. hapus nilai pada list dengan nomor index ke 2.
6. tampilkan hasil perubahan list yang telah dibuat.

In [33]:
# - start -

# tuliskan kode latihan 4 disini
nama_peserta = ["jojo","jiji","jeje","juju","jaja"]
nama_peserta.append("belajar python")
nama_peserta.insert(0,"menyenangkan")
nama_peserta.insert(3,"suka sekali")
del nama_peserta[2]
print(nama_peserta)
# - end -

['menyenangkan', 'jojo', 'suka sekali', 'jeje', 'juju', 'jaja', 'belajar python']

# Manipulasi List - Mengubah Nilai

In [34]:
# variabel_list[index_nilai] = nilai_pengganti
# contoh :

nilai_mahasiswa = [77,80,90,66,70]

# ubah nilai_mahasiswa dengan index ke - 3
nilai_mahasiswa[3]

66

In [35]:
# berikan nilai baru untuk nilai mahasiswa
nilai_mahasiswa[3] = 83
nilai_mahasiswa[3]

83

# latihan list 5:
1. buat variabel list dan nilainya minimal terdapat 3 nilai pada list tersebut
2. ubah nilai dengan nomor index ke 3
3. ubah nilai dengan nomor index ke 1
4. tampilkan perubahan listnya.

In [43]:
# - start poin 1 -

# tuliskan kode latihan 5 disini
# buat variabel list dan nilainya dan tampilkan listnya
merek = ["sumsang","nokiu","xiomay"]
# - end -

In [42]:
# - start poin 2 -

# tuliskan kode latihan 5 disini
# ubah nilai dengan nomor index ke 3 dan tampilkan perubahan listnya
merek[2] = "oppomeneh"
# - end -

In [40]:
# - start poin 3 -

# tuliskan kode latihan 5 disini
# ubah nilai dengan nomor index k 1 dan tampilkan perubahan listnya
merek[1] = "vivu"
print(merek)
# - end -

['sumsang', 'vivu', 'oppomeneh']

# 2. Tuple

Tupel memiliki bentuk umum sebagai berikut:
- variabel_tupel = ('nilai1', 1, ..., 'nilai ke-n')
- variabel_tupel = 'nilai1', 1, ..., 'nilai ke-n'

Tipe data tuple merupakan jenis tipe data yang immutable (tidak dapat diubah, tidak dapat ditambah, tidak dapat dikurangi).

In [1]:
# contoh penggunaan
variabel_tupel = 'badu', 'andi', 'sarah'

# tampilkan tipe dari variabel yang baru dibuat diatas
variabel_tupel
type(variabel_tupel)
# ketikkan perintah dan jalankan

tuple

In [46]:
# melihat method apa saja yang ada pada tuple
# menggunakan perintah dir(nama_variabel) atau dir(nama_class) atau dir(nama_fungsi)
dir(variabel_tupel)
# gunakan perintah dir() untuk variabel yang baru dibuat diatas.

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [47]:
# menghitung ada berapa nilai yang sama pada suatu tuple
nilai_mahasiswa = (70,56,88,70,56,70,77,77,60,65)
nilai_mahasiswa.count(70)

3

In [73]:
# latihan
# buat sebuah tuple baru yang berisikan 
# minimal 5 nama teman kalian, dan tambahkan nama yang sama pada tuple tersebut 
# didalam posisi yang acak sesuai keinginan kalian
nama_temen = ('jojon', 'jijin', 'jujun', 'jejen', 'jojon')
nama_temen
# ketikkan perintah dan jalankan

('jojon', 'jijin', 'jujun', 'jejen', 'jojon')

In [61]:
# mengetahui nilai index suatu nilai pada tuple
nilai_mahasiswa.index(60)

8

In [71]:
# latihan
# gunakan tuple yang kalian buat kemudian
# pilih salah satu nama dan tampilkan nilai index nama tersebut.
nama_temen.index("jijin")
# ketikkan perintah dan jalankan.

1

In [74]:
# menampilkan nilai tuple
# variabel_tuple[index_number]
# nilai index selalu dimulai dengan angka 0.
print(nilai_mahasiswa[2])

88

In [75]:
# latihan
# gunakan tuple yang kalian buat kemudian
# pilih salah satu index untuk menampilkan nama teman kalian
print(nama_temen[3])
# ketikkan perintah dan jalankan

jejen

In [79]:
# memasukkan nilai tuple keadalam beberapa variabel sekaligus
profil_kegiatan = "Pemrograman Dasar", "Pukul 14.00 - 16.00 WIB", "Dosen Pemrograman"
nama_kegiatan, waktu_pelaksanaan, nama_pemateri = profil_kegiatan

# tampilkan nama kegiatan
print(nama_kegiatan)

Pemrograman Dasar

In [80]:
# tampilkan waktu pelaksanaan
print(waktu_pelaksanaan)

Pukul 14.00 - 16.00 WIB

In [81]:
# tampilkan nama pemateri
print(nama_pemateri)

Dosen Pemrograman

In [82]:
# menampilkan dengan string.format() function
print("{} akan dilaksanakan pada {}, dengan pemateri : {}".format(nama_kegiatan, waktu_pelaksanaan, nama_pemateri))

Pemrograman Dasar akan dilaksanakan pada Pukul 14.00 - 16.00 WIB, dengan pemateri : Dosen Pemrograman

In [89]:
# latihan
# buat sebuah tuple baru yang berisikan 6 nilai,
# kemudian masukkan keempat nilai tersebut kedalam variabel yang kalian sesuaikan dengan
# masing-masing nilai
user = ("sani","membaca buku","senin","10 pagi")
nama,objek,hari,waktu = user
# ketikkan perintah dan jalankan
# tampilkan masing-masing variabel
print(nama)
print(objek)
print(hari)
print(waktu)
# tampilkan dengan menggunakan fungsi "string".format
print("{} sedang {}, pada hari {}, dan di jam {}".format(nama,objek,hari,waktu))

sani
membaca buku
senin
10 pagi
sani sedang membaca buku, pada hari senin, dan di jam 10 pagi

# Dictionary

Bentuk umum Dictionary :
- variabel_dictionary = { key: 'value', key: 123, key: [1,23,4], key: (1,2,3,4), ..., key-n: 'value' }

Tipe data dictionary menggunakan kurung kurawal {} dan memiliki "key" dan "value" yang menyimpan nilainya, sebagai mana terlihat pada bentuk umumnya.

In [90]:
# contoh Dictionary
profil_mahasiswa = {
    'nama': "Hendro Kartiko",
    'ttl': { 'tempat': "Surabaya", 'tanggal': "17 Agustus 1980" },
    'alamat': "Jl. Rungkut Industri Perumahan Jawa Timur Surabaya"
}
print (profil_mahasiswa)

{'nama': 'Hendro Kartiko', 'ttl': {'tempat': 'Surabaya', 'tanggal': '17 Agustus 1980'}, 'alamat': 'Jl. Rungkut Industri Perumahan Jawa Timur Surabaya'}

In [115]:
# latihan
# buat satu dictionary baru mengenai data matakuliah
# yang memiliki keys :
# nama_matakuliah, sks, detail_info
# tambahkan sebuah dictionary sebagai nilai pada key detail_info dengan key :
# ruang, dosen, waktu_kuliah
matkul = {
    "nama_matkul" : "Pemrograman Web",
    "sks" : 3,
    "detail_info" : {
        "nama_dosen" : "Muhammad Syamsul Arif",
        "Ruang" : 302,
        "waktu_kuliah" : "10.00-12.00"
    }
}

print(matkul)
# ikuti contoh diatas
# ketikkan dan jalankan perintah

{'nama_matkul': 'Pemrograman Web', 'sks': 3, 'detail_info': {'nama_dosen': 'Muhammad Syamsul Arif', 'Ruang': 302, 'waktu_kuliah': '10.00-12.00'}}

In [93]:
# menampilkan attribut / method pada dictionary
print(dir(profil_mahasiswa))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [116]:
# menampilkan keys pada dictionary
profil_mahasiswa.keys()

dict_keys(['nama', 'ttl', 'alamat'])

In [117]:
# latihan
# tampilkan keys yang terdapat pada dictionary 
# yang kalian buat menggunakan keys() function
matkul.keys()
# ketikkan dan jalankan perintah

dict_keys(['nama_matkul', 'sks', 'detail_info'])

In [118]:
# menampilkan items yang terdapat pada dictionary
profil_mahasiswa.items()

dict_items([('nama', 'Hendro Kartiko'), ('ttl', {'tempat': 'Surabaya', 'tanggal': '17 Agustus 1980'}), ('alamat', 'Jl. Rungkut Industri Perumahan Jawa Timur Surabaya')])

In [119]:
# latihan
# tampilkan item yang terdapat pada dictionary yang kalian buat
matkul.items()
# ketikkan dan jalankan perintah

dict_items([('nama_matkul', 'Pemrograman Web'), ('sks', 3), ('detail_info', {'nama_dosen': 'Muhammad Syamsul Arif', 'Ruang': 302, 'waktu_kuliah': '10.00-12.00'})])

In [109]:
# menampilkan alamat
profil_mahasiswa.get('alamat')

'Jl. Rungkut Industri Perumahan Jawa Timur Surabaya'

In [120]:
# latihan
# pilih salah satu key dari dictionary yang kalian buat
# kemudian tampilkan nilainya dengan menggunakan get() function
matkul.get("detail_info")
# ketikkan dan jalankan perintah

{'nama_dosen': 'Muhammad Syamsul Arif',
 'Ruang': 302,
 'waktu_kuliah': '10.00-12.00'}

In [121]:
# mengeluarkan nama dari dictionary
profil_mahasiswa.pop('nama')

'Hendro Kartiko'

In [131]:
# latihan
# pilih salah satu key dari dictionary yang kalian buat
# kemudian keluarkan dari dictionary tersebut dan tampilkan kembali item dictionary kalian
# apakah ada perbedaan dengan data dictionary sebelumnya
matkul.pop("nama_matkul")

'Pemrograman Web'

In [129]:
# menampilkan kembali dictionary
profil_mahasiswa

{'ttl': {'tempat': 'Surabaya', 'tanggal': '17 Agustus 1980'},
 'alamat': 'Jl. Rungkut Industri Perumahan Jawa Timur Surabaya'}

In [134]:
# menambahkan kembali key nama 
# ddengan value 'hendro kartiko' kedalam dictionary
profil_mahasiswa['nama'] = 'Hendro Kartiko'
profil_mahasiswa

{'ttl': {'tempat': 'Surabaya', 'tanggal': '17 Agustus 1980'},
 'alamat': 'Jl. Rungkut Industri Perumahan Jawa Timur Surabaya',
 'nama': 'Hendro Kartiko'}

In [132]:
# latihan
# tambahkan kembali key dan nilai yang kalian keluarkan kedalam dictionary kalian.
# dan tampilkan dictionary tersebut
matkul["nama_matkul"] = "Pemrograman Web"
matkul
# pastikan terdapat perbedaan dengan dictionary sebelumnya

{'sks': 3,
 'detail_info': {'nama_dosen': 'Muhammad Syamsul Arif',
  'Ruang': 302,
  'waktu_kuliah': '10.00-12.00'},
 'nama_matkul': 'Pemrograman Web'}

In [135]:
# menampilkan data
profil_mahasiswa['nama']

'Hendro Kartiko'

In [136]:
# menampilkan data
profil_mahasiswa['ttl']['tempat']

'Surabaya'

In [138]:
# latihan
# tampilkan nilai dari key dosen yang 
# terdapat didalam key detail info
matkul["detail_info"]["nama_dosen"]
# ketikkan perintah dan jalankan.

'Muhammad Syamsul Arif'